.container{
  display: flex;
  flex-direction: column;
}

.title{
  margin: 5% 0;
}

.title h1{
  color: #FFA500;
}

.NewSearch{
  align-self: flex-end;
  width: 185px;
}

.NewSearch button{
  margin: 10px 5px;
  border-radius: 50px;
}