.container{
  display: flex;
  flex-direction: column;
}

.title{
  margin: 5% 0;
}

.title h1{
  color: #FFA500;
}

.NewSearch{
  align-self: flex-end;
  width: 185px;
}

.NewSearch button{
  margin: 10px 5px;
  border-radius: 50px;
}

.Suggestions .Sug-Title{
  width: 100%;
  text-align: left;
}

.Sugg-List{
  margin: 3% 0;
}

.Sugg-List button{
  background-colour: #009FFD;
}